:root{
    --azul: #3db0f7;
    --branco: #f8f8f8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body{
    background: var(--branco);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    max-width: 1130px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

header .logo{
    margin-left: 5px;
    color: var(--azul);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*Filme principal */
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/capa-kombat.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    border: none;
    color: var(--azul);

    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 40px;
    margin-right: 25px;
    margin-bottom: 5%;
    font-size: 13px;

    cursor: pointer;
    transition: 1s ease all;
}

body main div .botao{
    background-color: #9a9a9a;
    color: white
}

.botao:hover{
    background-color: var(--azul);
    color: white;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 60%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
    
}